<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context-4.3.xsd
            http://www.springframework.org/schema/tx    
 			http://www.springframework.org/schema/tx/spring-tx.xsd  
 			http://www.springframework.org/schema/aop    
 			http://www.springframework.org/schema/aop/spring-aop.xsd   
            "
            >

    <!-- 扫描【业务层】和【数据操作层】组件 -->
 	<context:component-scan base-package="com"></context:component-scan>
 	
 	
    <!-- 加载配置文件 -->
    <!-- 将多个配置文件读取到容器中，交给Spring管理 -->
    
<!-- 	引入dbconfig.properties属性文件
    <context:property-placeholder location="classpath:jdbc.properties" />
 	
 		创建数据源（数据库连接池使用dbcp）
 	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
 		<property name="driverClassName" value="${jdbc.driver}"></property>
 		<property name="url" value="${jdbc.url}"></property>
 		<property name="username" value="${jdbc.username}"></property>
 		<property name="password" value="${jdbc.password}"></property>
 		
 		
 		
 	</bean> -->
    <context:property-placeholder location="classpath:jdbc.properties" />
 	
 		<!-- 创建数据源（数据库连接池使用dbcp） -->
 	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
 		<property name="driverClassName" value="${jdbc.driver}"></property>
 		<property name="url" value="${jdbc.url}"></property>
 		<property name="username" value="${jdbc.username}"></property>
 		<property name="password" value="${jdbc.password}"></property>
 	</bean>
  <!-- spring 集成mybatis
  	mybatis：1，接口
  	         2,映射文件
    -->
 	<!-- 创建session -->
  	<bean class="org.mybatis.spring.SqlSessionFactoryBean">
 		<property name="dataSource" ref="dataSource"></property>
 		<property name="mapperLocations" value="classpath:com/bw/pojo/*.xml"></property>
 		<!-- 加载mybatis的全局配置文件 -->
		<property name="configLocation" value="classpath:mybatis/SqlMapConfig.xml" />
</bean> 
 	
 	<!-- 扫描myBatis操作数据库的接口 -->
 	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
 		<property name="basePackage" value="com.bw.dao"></property>
 	</bean> 
 	
	<!-- 配置事务管理器 -->
    <bean id="transactionManager"
        class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- 注解方式配置事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" />


</beans>    